.dove-single
{
  &__intro
  {
    position: relative;
    height: 436px;
    background-repeat: no-repeat;
    background-size: cover;

    &::before
    {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .4);
      z-index: 1;
    }

    &-content
    {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 72px;
      text-align: center;
      color: white;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }

  &__title
  {
    position: relative;
    top: -110px;
    font-weight: normal;
  }

  &__content
  {
    background: $chathams-blue;
  }

  &__wrap
  {
    display: grid;
    grid-template-columns: repeat(2, 830px);
    grid-gap: 70px;
    padding-bottom: 63px;
    @media screen and (max-width: 1750px)
    {
      margin: 0 auto;
      width: 1330px;
      grid-template-columns: repeat(2, 630px);
    }
    @media screen and (max-width: 1380px)
    {
      display: block;
      width: 700px;
    }
    @media screen and (max-width: 720px) {
      width: auto;
    }



  }

  &__item
  {
    position: relative;
    @media screen and (max-width: 1380px) {
      margin-bottom: 60px;
    }

  }

  &__slider
  {
    height: 456px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
  }

  &__slider-item
  {
    height: 456px;
  }

  .slider-btn-prev,
  .slider-btn-next
  {
    position: absolute;
    top: 200px;
    width: 60px;
    height: 100px;
    background: $chathams-blue;
    z-index: 1000;

    &:before
    {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 18px;
      height: 30px;
      background-size: cover;
      background-position: center;
      z-index: 10001;
    }
  }

  .slider-btn-prev
  {
    left: 0;

    &::before
    {
      background-image: url('../i/left-chevron.svg');
    }
  }

  .slider-btn-next
  {
    right: 0;

    &::before
    {
      background-image: url('../i/right-chevron.svg');
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 1000;
    li {
      width: 10px;
      height: 10px;
      margin: 2px;
      border-radius: 10px;
      cursor: pointer;
      border: 1px solid grey;
      background-color: grey;
      box-shadow: 0 3px 8px rgba(0,0,0,.3);
      &.slick-active {
        background: transparent;
      }
    }
    button {
      display: none;
    }
  }
}

.dove-single__item-content
{
  padding: 46px;
  color: $boulder;
  background: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.info
{
  display: flex;
  margin-bottom: 80px;
  @media screen and (max-width: 1750px) {
    display: block;
    margin-bottom: 40px;
  }
  

  li
  {
    margin-right: 22px;

    .value
    {
      margin-left: 8px;
      font-weight: bold;
      color: black;
    }

  }
}

.dove-single__item-text p
{
  margin-bottom: 16px;
  line-height: 1.6;
}

.dove-single__item-title
{
  margin-bottom: 14px;
  font-size: 30px;
  color: black;
}

.dove-single-servicers__title
{
  position: relative;
  padding-left: 30px;
  margin: 20px 0 20px;
  font-size: 20px;
  color: $chathams-blue;

  &::before
  {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 20px;
    height: 20px;
    background: url('../i/discover-icon.svg') no-repeat center;
    background-size: cover;
  }
}

.dove-single-services__list
{
  &.column-2
  {
    column-count: 2;
    column-gap: 50px;
    @media screen and (max-width: 576px) {
    	column-count: initial;
    }

  }

  li
  {
    position: relative;
    margin-bottom: 20px;
    padding-left: 16px;

    &::before
    {
      content: '';
      position: absolute;
      top: 12px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #666;
    }
  }
}

.dove-single__item-contacts
{
  display: flex;
  justify-content: flex-end;

  a
  {
    text-decoration: none;
    color: #666;
    transition: all .3s;
    &:hover {
      color: $buttercup;
      svg {
        fill: $buttercup;
      }
    }

    svg
    {
      position: relative;
      top: 2px;
      fill: #666;
      width: 18px;
      height: 18px;
      transition: all .3s;
    }
  }

  .icon-circle
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $madison;

    svg
    {
      position: static;
    }
  }

}
.dove-single__item-block-contacts {
  margin-top: -40px;
  margin-bottom: 50px;
  &__title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1.3px;
    color: $boulder;
  }
  span {
    display: block;
    &.value {
      font-weight: bold;
      color: black;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
