.main-header
{
  position: relative;
  color: white;
  height: 90px;
  background: $madison;

  &::after
  {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 100%;
    background: url("../i/menu_last.png") no-repeat center;
  }

  .logo
  {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }
}

.main-menu
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin-right: 60px;
  @media screen and (max-width: 1400px) {
    margin-right: 120px;
  }
  @media screen and (max-width: 850px) {
    display: none;
  }


  &__item
  {
    &:hover
    {
      .sub-menu {
        display: flex;
      }
      .main-menu__link
      {
        color: $buttercup;
      }

      .menu-icon
      {
        transform: translateX(-50%) scale(1);
      }
    }
    &:last-child {
      @media screen and (max-width: 1390px) {
        display: none;
      }
    }
    &:nth-child(4)
    {
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
    &:nth-child(3)
    {
      @media screen and (max-width: 1040px) {
        display: none;
      }
    }
  }

  &__link
  {
    position: relative;
    display: block;
    padding: 0 25px;
    line-height: 90px;
    font-size: 14px;
    letter-spacing: 1.45px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    transition: all .3s;
  }

  .menu-icon
  {
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: all .3s;
  }
}

.sub-menu
{
  position: absolute;
  bottom: -264px;
  left: 0;
  display: none;
  justify-content: space-between;
  padding: 20px 80px;
  width: 1920px;
  background: $madison;
  transition: all .2s ease-in;
  z-index: 1000;
  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
  }
  &__item
  {
    a
    {
      display: block;
      text-decoration: none;
    }

    &-title
    {
      position: relative;
      padding-bottom: 10px;
      @include spacegrotesksemibold;
      font-size: 20px;
      color: #f7f7f726;
      text-decoration: none;
      transition: all .4s;
      border: none;

      &::after
      {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #f7f7f726;
        transition: all .4s;
      }
    }

    &:hover
    {
      .sub-menu__item-title
      {
        color: white;

        &::after
        {
          background: white;
        }
      }
    }
  }

  &__list
  {
    display: flex;

    li
    {
      margin-left: 60px;
    }
  }

  &__title
  {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 43px;
  }

  &__text
  {
    max-width: 740px;
    font-size: 24px;
  }
}
.main-menu-mobile {
  position: absolute;
  top: 90px;
  right: 40px;
  display: none;
  width: 288px;
  color: white;
  background: $madison;
  z-index: 1000;
  @media screen and (max-width: 768px) {
    right: 0;
    left: 0;
    width: 100%;
  }

  &__item {
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    &:hover .main-menu-mobile-submenu {
      display: block;
    }
  }
  &__link {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
  &-submenu {
    display: none;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    &__link {
      display: block;
      padding: 15px 20px;
      font-size: 12px;
      text-decoration: none;
      color: white;
    }
  }
}