.page-header {
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background: $chathams-blue;
}
.breadcrumbs {
  margin-bottom: 40px;
  &__list {
    display: flex;
    align-items: center;
    a {
      position: relative;
      padding-right: 24px;
      margin-right: 14px;
      font-size: 20px;
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
      }
      &::after {
        content: '>';
        position: absolute;
        top: -2px;
        right: 0;
        font-size: 20px;
        color: $buttercup;
      }
    }
  }
}
.meta-list {
  display: flex;
  align-items: center;
  margin-left: 35px;
  a {
    margin-right: 24px;
    display: inline-block;
    padding: 15px 20px;
    @include spacegrotesksemibold;
    font-size: 18px;
    text-decoration: none;
    color: $chathams-blue;
    background: $buttercup;
    transition: all .4s;
    &:hover {
      background: $madison;
      color: $buttercup;
    }
  }
}