.block-dove-dormire
    .block-dove-dormire__item(style="background-image: url('assets/i/dove-dormire/dove-dormire-1.jpg')")
        .block-dove-dormire__wrap
            img.block-dove-dormire__img(src="assets/i/where-to-sleep-block/where-to-sleep-block-1.jpg" alt="image")
            .block-dove-dormire__content
                h3.block-dove-dormire__subtitle DOVE DORMIRE
                h2.block-dove-dormire__title Hotel
                p Rosolina mare offre molteplici soluzioni di alloggio, gli Hotel sono l’ideale per chi ama il pieno Relax, Strutture riservate e gestite in modo totalmente Familiare permettono ai propri ospiti una vacanza a tutto tondo sempre disponendo della modernità di notevoli comfort.
                a(href="https://visitrosolina.it/dove-dormire/hotel/").block-dove-dormire__link Scopri tutte le strutture


    .block-dove-dormire__item(style="background-image: url('assets/i/dove-dormire/dove-dormire-2.jpg')")
        .block-dove-dormire__wrap
            img.block-dove-dormire__img(src="assets/i/where-to-sleep-block/where-to-sleep-block-2.jpg" alt="image")
            .block-dove-dormire__content
                h3.block-dove-dormire__subtitle DOVE DORMIRE
                h2.block-dove-dormire__title Villaggi turistici
                p I Villaggi turistici incarnano lo spirito del vivere all’aria a aperta, attuali strutture dislocate in contesti puramente naturali della località accolgono gli ospiti mettendo a disposizione servizi eccellenti per trascorrere dei momenti unici.
                a(href="#").block-dove-dormire__link Scopri tutte le strutture

    .block-dove-dormire__item(style="background-image: url('assets/i/dove-dormire/dove-dormire-3.jpg')")
        .block-dove-dormire__wrap
            img.block-dove-dormire__img(src="assets/i/where-to-sleep-block/where-to-sleep-block-3.jpg" alt="image")
            .block-dove-dormire__content
                h3.block-dove-dormire__subtitle DOVE DORMIRE
                h2.block-dove-dormire__title Agenzie immobiliari
                p Per chi desidera una maggiore autonomia, le agenzie immobiliari potranno offrire soluzioni abitative secondo le più disparate preferenze in ogni zona della località.
                a(href="#").block-dove-dormire__link Scopri tutte le strutture


