.block-about-dove.section.section__dark
    .container
        h2.section__title Dove dormire a Rosolina Mare
        p.section__text Rosolina Mare offre numerose opportunità per soggiornare:<br> hotel, campeggi e villaggi turistici adatti per le famiglie e per ogni tipo di turista