.copyright
    .container
        .copyright__wrap
            .copyright__text
                p Copyright © 2019 Consorzio di Promzione e Sviluppo Turistico Po e suo Delta
                p Partita Iva : 01497590297

            .copyright__logos
                p Il Portale di Rosolina Mare è stato<br> realizzato da Bludelego
                a(href="https://bludelego.it/" target="_blank")
                    img(src="assets/i/logo_bludelego.png" alt="bluedelego")

