section.discover-block.section.section__dark
    .container
        h3.section__title Scopri Rosolina Mare

        .discover-block__content
            a(href="#").discover-block__item
                .h3.discover-block__title Escursioni
                img.discover-block__icon(src="assets/i/discover-icon.svg" alt="icon")
                img(src="assets/i/discover-block-1.jpg" alt="Ecsurcioni")
            a(href="#").discover-block__item
                .h3.discover-block__title Spiagge
                img.discover-block__icon(src="assets/i/discover-icon.svg" alt="icon")
                img(src="assets/i/discover-block-2.jpg" alt="Spiagge")
            a(href="#").discover-block__item
                .h3.discover-block__title Attrazioni
                img.discover-block__icon(src="assets/i/discover-icon.svg" alt="icon")
                img(src="assets/i/discover-block-3.jpg" alt="Attrazioni")
            a(href="#").discover-block__item
                .h3.discover-block__title Nei d'intorni
                img.discover-block__icon(src="assets/i/discover-icon.svg" alt="icon")
                img(src="assets/i/discover-block-4.jpg" alt="Nei d'intorni")
