footer.main-footer
    .main-footer__wrap
        .main-footer__contacts
            h2.section__title Contattaci
            .main-footer__form-wrap
                .form
                    form(action="mail.php" method="POST")#js-form
                        .form-group.form-group--flex
                            .form-elem
                                input(type="text" id="js-text" name="name" placeholder="Nome")
                            .form-elem
                                input(type="email" id="js-email"  name="email" placeholder="Email")
                        .form-group
                            .form-elem
                                input(type="text" id="js-oggetto" name="oggetto" placeholder="Oggetto")
                        .form-group.form-group--textarea
                            .form-elem
                                textarea(name="messaggio" id="js-messaggio" placeholder="Messaggio")
                        .form-footer
                            input(type="submit" value="Invia")
                            .privacy
                                input.checkbox(type="checkbox" name="check" id="check")
                                label(for="check") Cliccando su invia dichiari di aver preso visione e di accettare la nostra <a href="https://visitrosolina.it/cookies-and-privacy/">privacy policy</a>

                .main-footer__text
                    p Ufficio informazioni e<br> accoglianza turistica
                    p Centro Congressi Piazzale Europa
                    p Orario di apertura Dal lunedì alla domentica 09-12 e 14-19
                    p Email: <a href="mailto:iat@comune.rosolina.ro.it">iat@comune.rosolina.ro.it</a>
        .main-footer__map
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d351.84244581281496!2d12.322716!3d45.131613!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb4464ccfe4ab9226!2sCentro%20Congressi%20Rosolina%20Mare!5e0!3m2!1sit!2sus!4v1582278023649!5m2!1sit!2sus" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

