header.main-header
    a(href="/").logo
        img(src="assets/i/logo.png" alt="logo")
    .main-menu
        li.main-menu__item
            a.main-menu__link(href="https://visitrosolina.it/scopri-rosolina-mare/") Scopri Rosolina mare
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
            .sub-menu
                .sub-menu__wrap
                    .sub-menu__content
                        h3.sub-menu__title Scopri Rosolina mare
                        p.sub-menu__text Qualunque sia la tua idea di vacanza, a Rosolina puoi trovare escursioni, spiagge ed attrazioni che renderanno indimenticabile il tuo soggiorno.
                    ul.sub-menu__list
                        li.sub-menu__item
                            a(href="https://visitrosolina.it/scopri-rosolina-mare/escursioni/")
                                img(src="assets/i/sub-menu-1.jpg")
                                h4.sub-menu__item-title Escursioni
                        li.sub-menu__item
                            a(href="https://visitrosolina.it/scopri-rosolina-mare/spiagge/")
                                img(src="assets/i/sub-menu-2.jpg")
                                h4.sub-menu__item-title Spiagge
                        li.sub-menu__item
                            a(href="https://visitrosolina.it/scopri-rosolina-mare/attrazioni/")
                                img(src="assets/i/sub-menu-3.jpg")
                                h4.sub-menu__item-title Attrazioni
                        li.sub-menu__item
                            a(href="https://visitrosolina.it/scopri-rosolina-mare/nei-dintorni/")
                                img(src="assets/i/sub-menu-4.jpg")
                                h4.sub-menu__item-title Nei dintorni
        li.main-menu__item
            a.main-menu__link(href="dove-dormire.html") Dove dormire
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
            .sub-menu
                .sub-menu__wrap
                    .sub-menu__content
                        h3.sub-menu__title Dove dormire
                        p.sub-menu__text Rosolina Mare è famosa per le sue spiagge incantevoli e per i suoi stabilimenti balneari adatti a grandi e piccoli.
                    ul.sub-menu__list
                        li.sub-menu__item
                            a(href="https://visitrosolina.it/dove-dormire/hotel/")
                                img(src="assets/i/sub-menu-5.jpg")
                                h4.sub-menu__item-title Hotel
                        li.sub-menu__item
                            a(href="https://visitrosolina.it/dove-dormire/villaggi-turistici/")
                                img(src="assets/i/sub-menu-6.jpg")
                                h4.sub-menu__item-title Villaggi turistici
                        li.sub-menu__item
                            a(href="https://visitrosolina.it/dove-dormire/agenzie-immobiliari/")
                                img(src="assets/i/sub-menu-7.jpg")
                                h4.sub-menu__item-title Agenzie immobiliari
        li.main-menu__item
            a.main-menu__link(href="https://visitrosolina.it/webcam-e-meteo/") Webcam e meteo
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
        li.main-menu__item
            a.main-menu__link(href="https://visitrosolina.it/eventi-e-news/") Eventi e news
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
        li.main-menu__item
            a.main-menu__link(href="https://visitrosolina.it/info-e-contatti/") Info e contatti
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")



    ul.main-menu-mobile#js-main-menu-mobile
        li.main-menu-mobile__item
            .main-menu-mobile__img
                img(src="assets/i/arrow-down-white.svg" alt="arrow")
            a(href="https://visitrosolina.it/scopri-rosolina-mare/").main-menu-mobile__link Scopri Rosolina mare
            ul.main-menu-mobile-submenu
                li.main-menu-mobile-submenu__item
                    a(href="https://visitrosolina.it/scopri-rosolina-mare/escursioni/").main-menu-mobile-submenu__link Escursioni
                li.main-menu-mobile-submenu__item
                    a(href="https://visitrosolina.it/scopri-rosolina-mare/spiagge/").main-menu-mobile-submenu__link Spiagge
                li.main-menu-mobile-submenu__item
                    a(href="https://visitrosolina.it/scopri-rosolina-mare/attrazioni/").main-menu-mobile-submenu__link Attrazioni
                li.main-menu-mobile-submenu__item
                    a(href="https://visitrosolina.it/scopri-rosolina-mare/nei-dintorni/").main-menu-mobile-submenu__link Nei dintorni
        li.main-menu-mobile__item
            .main-menu-mobile__img
                img(src="assets/i/arrow-down-white.svg" alt="arrow")
            a(href="https://visitrosolina.it/dove-dormire/").main-menu-mobile__link Dove dormire
            ul.main-menu-mobile-submenu
                li.main-menu-mobile-submenu__item
                    a(href="https://visitrosolina.it/dove-dormire/hotel/").main-menu-mobile-submenu__link Hotel
                li.main-menu-mobile-submenu__item
                    a(href="https://visitrosolina.it/dove-dormire/villaggi-turistici/").main-menu-mobile-submenu__link Villaggi turistici
                li.main-menu-mobile-submenu__item
                    a(href="https://visitrosolina.it/dove-dormire/agenzie-immobiliari/").main-menu-mobile-submenu__link Agenzie immobiliari
        li.main-menu-mobile__item
            a(href="https://visitrosolina.it/webcam-e-meteo/").main-menu-mobile__link Webcam e meteo
        li.main-menu-mobile__item
            a(href="https://visitrosolina.it/eventi-e-news/").main-menu-mobile__link Eventi e news
        li.main-menu-mobile__item
            a(href="https://visitrosolina.it/info-e-contatti/").main-menu-mobile__link Info e contatti

    .sandwitch-wrap#js-sandwitch-wrap
        .sandwitch
            .sandwitch__line.sandwitch__line--top
            .sandwitch__line.sandwitch__line--middle
            .sandwitch__line.sandwitch__line--bottom
