header.main-header
    a(href="/").logo
        img(src="assets/i/logo.png" alt="logo")
    .main-menu
        li.main-menu__item
            a.main-menu__link(href="#") Scopri Rosolina mare
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
            .sub-menu
                .sub-menu__content
                    h3.sub-menu__title Scopri Rosolina mare
                    p.sub-menu__text Qualunque sia la tua idea di vacanza, a Rosolina puoi trovare escursioni, spiagge ed attrazioni che renderanno indimenticabile il tuo soggiorno.
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-1.jpg")
                            h4.sub-menu__item-title Escursioni
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-2.jpg")
                            h4.sub-menu__item-title Spiagge
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-3.jpg")
                            h4.sub-menu__item-title Attrazioni
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-4.jpg")
                            h4.sub-menu__item-title Nei dintorni
        li.main-menu__item
            a.main-menu__link(href="#") Dove dormire
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
            .sub-menu
                .sub-menu__content
                    h3.sub-menu__title Dove dormire
                    p.sub-menu__text Rosolina Mare è famosa per le sue spiagge incantevoli e per i suoi stabilimenti balneari adatti a grandi e piccoli.
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-5.jpg")
                            h4.sub-menu__item-title Hotel
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-6.jpg")
                            h4.sub-menu__item-title Villaggi turistici
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-7.jpg")
                            h4.sub-menu__item-title Agenzie immobiliari
        li.main-menu__item
            a.main-menu__link(href="#") Webcam e meteo
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
        li.main-menu__item
            a.main-menu__link(href="#") Eventi e news
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
        li.main-menu__item
            a.main-menu__link(href="#") Info e contatti
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")



    ul.main-menu-mobile#js-main-menu-mobile
        li.main-menu-mobile__item
            .main-menu-mobile__img
                img(src="assets/i/arrow-down-white.svg" alt="arrow")
            a(href="#").main-menu-mobile__link Scopri Rosolina mare
            ul.main-menu-mobile-submenu
                li.main-menu-mobile-submenu__item
                    a(href="#").main-menu-mobile-submenu__link Escursioni
                li.main-menu-mobile-submenu__item
                    a(href="#").main-menu-mobile-submenu__link Spiagge
                li.main-menu-mobile-submenu__item
                    a(href="#").main-menu-mobile-submenu__link Attrazioni
                li.main-menu-mobile-submenu__item
                    a(href="#").main-menu-mobile-submenu__link Nei dintorni
        li.main-menu-mobile__item
            .main-menu-mobile__img
                img(src="assets/i/arrow-down-white.svg" alt="arrow")
            a(href="#").main-menu-mobile__link Dove dormire
            ul.main-menu-mobile-submenu
                li.main-menu-mobile-submenu__item
                    a(href="#").main-menu-mobile-submenu__link Hotel
                li.main-menu-mobile-submenu__item
                    a(href="#").main-menu-mobile-submenu__link Villaggi turistici
                li.main-menu-mobile-submenu__item
                    a(href="#").main-menu-mobile-submenu__link Agenzie immobiliari
        li.main-menu-mobile__item
            a(href="#").main-menu-mobile__link Webcam e meteo
        li.main-menu-mobile__item
            a(href="#").main-menu-mobile__link Eventi e news
        li.main-menu-mobile__item
            a(href="#").main-menu-mobile__link Info e contatti

    .sandwitch-wrap#js-sandwitch-wrap
        .sandwitch
            .sandwitch__line.sandwitch__line--top
            .sandwitch__line.sandwitch__line--middle
            .sandwitch__line.sandwitch__line--bottom
