header.main-header
    a(href="/").logo
        img(src="assets/i/logo.png" alt="logo")
    .main-menu
        li.main-menu__item
            a.main-menu__link(href="#") Scopri Rosolina mare
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
            .sub-menu
                .sub-menu__content
                    h3.sub-menu__title Scopri Rosolina mare
                    p.sub-menu__text Qualunque sia la tua idea di vacanza, a Rosolina puoi trovare escursioni, spiagge ed attrazioni che renderanno indimenticabile il tuo soggiorno.
                ul.sub-menu__list
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-1.jpg")
                            h4.sub-menu__item-title Escursioni
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-2.jpg")
                            h4.sub-menu__item-title Spiagge
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-3.jpg")
                            h4.sub-menu__item-title Attrazioni
                    li.sub-menu__item
                        a(href="#")
                            img(src="assets/i/sub-menu-4.jpg")
                            h4.sub-menu__item-title Nei dintorni
        li.main-menu__item
            a.main-menu__link(href="#") Dove dormire
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
        li.main-menu__item
            a.main-menu__link(href="#") Webcam e meteo
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
        li.main-menu__item
            a.main-menu__link(href="#") Eventi e news
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")
        li.main-menu__item
            a.main-menu__link(href="#") Info e contatti
                img.menu-icon(src="assets/i/menu-icon.svg" alt="icon")

