.dove-single
    .dove-single__content
        .container
            .dove-single__wrap
                include ../includes/hotel/hotel-item-1
                include ../includes/hotel/hotel-item-2
                include ../includes/hotel/hotel-item-3
