header.page-header
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li
                    a(href="dove-dormire.html") Dove dormire
                li
                    span Hotel

        ul.meta-list
            li
                a(href="#js-item-3") Albergo Pineta – Il Gattaccio
            li
                a(href="#js-item-1") Albergo Ristorante Fiorella
            li
                a(href="#js-item-2") Hotel Milan & Residence
