header.page-header
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li
                    a(href="dove-dormire.html") Dove dormire
                li
                    span Hotel

        ul.meta-list
            li
                a(href="#") Albergo Pineta – Il Gattaccio
            li
                a(href="#") Albergo Ristorante Fiorella
            li
                a(href="#") Hotel Milan & Residence
