.dove-single
    .dove-single__content
        .container
            .dove-single__wrap
                .dove-single__item
                    .slider-buttons
                        a(href="#").slider-btn.slider-btn-prev
                        a(href="#").slider-btn.slider-btn-next
                    .dove-single__slider
                        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-1.jpg')")
                        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-2.jpg')")
                        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-3.jpg')")
                        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-4.jpg')")

                    .dove-single__item-content
                        header.dove-single__item-header
                            ul.info
                                li
                                    span.title TIPO:
                                    span.value HOTEL
                                li
                                    span.title INDIRIZZO:
                                    span.value VIA TRIESTE 17, ROSOLINA MARE

                                li
                                    span.title INFO:
                                    span.value 0426/68010 – 0426/326022
                        .dove-single__item-text
                            h3.dove-single__item-title Albergo Ristorante Fiorella
                            p L’Albergo Ristorante Fiorella nasce nel 1974 direttamente sulla Spiaggia di Rosolina mare, da allora un filo continuo ha sempre accompagnato la gestione della struttura che si basa esclusivamente su: Familiarità, Tradizione e Serenità garantita dalla Famiglia Zennaro. Posta in una zona centrale della località, in piena spiaggia e lontano da vie trafficate, permette ai propri ospiti un Relax totale. Chi sceglie di alloggiare all’Albergo Ristorante Fiorella sceglie servizi di prim’ordine in un ambiente totalmente familiare, servizi garantiti da un Hotel recentemente ristrutturato, da un Ristorante sulla spiaggia con la tradizione di una cucina volutamente Casereccia, cresciuto dalla ultra-quarantennale esperienza nel settore marinaro Deltizio. Le stanze dotate dei più moderni confort e nelle più disparate configurazioni accolgono chiunque desidera trascorrere attimi nel territorio della Riserva Delta del Po e nelle spiagge rosolinesi mettendo a disposizione aree interne come la Relax Beach o di usufruire di servizi dei più moderni stabilimenti balneari posti proprio d’innanzi la struttura stessa… La semplicità di poter scendere dalla stanza a piedi scalzi e di poter passeggiare direttamente sulla sabbia lambita dalle onde è una prerogativa dell’Albergo Ristorante Fiorella ed è una delle più stupende filosofie che rappresentano il vivere nel Parco naturale del Delta del Po.

                            .dove-single-services
                                h4.dove-single-servicers__title Servizi
                                ul.dove-single-services__list
                                    li Hotel 3 stelle
                                    li Ristorante per clienti Hotel e/o ospiti esterni con cucina di esperienza ultra-quarantennale nella tradizione marinara Deltizia.
                                    li Terrazza direttamente sulla Spiaggia
                                    li Bar per clienti Hotel e/o ospiti esterni
                                    li Parcheggio riservato ai clienti Hotel all’interno della struttura
                                    li Relax Beach riservata ai clienti Hotel all’interno della struttura
                                    li Area giochi all’interno della struttura
                                    li Colazione a Buffet
                                    li Reception con punto info su escursioni e visite sul territorio
                                    li Wi-Fi aree comuni e stanze
                                    li Climatizzazione/riscaldamento aree comuni e stanze
                                    li Servizio Bici per i clienti Hotel (fino ad esaurimento)
                                    li Cassaforte nelle stanze
                                    li Bagno nelle stanze
                                    li Telefono nelle stanze
                                    li TV aree comuni e stanze
                                    li Frigo Bar nelle stanze
                                    li Asciugamani
                                    li Asciugacapelli
                                    li Balcone indipendente
                                    li Convenzioni e formule All Inclusive con Stabilimenti Balneari
                                    li Servizio Tabacchi
