section.intro(style="background-image: url('assets/i/Home-page.jpg')")
    .intro__content
        img(src="assets/i/big-logo.svg" alt="big logo")
        h1.intro__title Rosolina mare
        p.intro__text Dono di natura