section.intro.dove-dormire(style="background-image: url('assets/i/intro-bg.jpg')")
    .intro__content
        img(src="assets/i/big-logo.svg" alt="big logo")
        h1.intro__title Dove dormire a Rosolina<br> Mare
        p.intro__text Rosolina Mare offre numerose opportunità per soggiornare: hotel, campeggi e villaggi turistici adatti per le famiglie e per ogni tipo di turista.
