.dove-single
    .dove-single__content
        .container
            .dove-single__wrap
                include ../includes/vilaggi/village-1
                include ../includes/vilaggi/village-2
                include ../includes/vilaggi/village-4
                include ../includes/vilaggi/village-3
                include ../includes/vilaggi/village-5
