.dove-single__intro(style="background-image: url('assets/i/vilaggi/villaggi_intro.jpg')")
    .dove-single__intro-content
        img(src="assets/i/big-icon.png" alt="icon")
        h2.dove-single__title Villaggi turistici