header.page-header
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li
                    a(href="dove-dormire.html") Dove dormire
                li
                    span Villaggi turistici

        ul.meta-list
            li
                a(href="#js-item-2") Campeggio Vittoria
            li
                a(href="#js-item-1") ROSAPINETA Camping Village
            li
                a(href="#js-item-4") Villaggio Rosapineta Sud
            li
                a(href="#js-item-3") Villaggio Rosolina Mare Club
            li
                a(href="#js-item-5") Villaggio turistico serenella
