.where-to-sleep-block
    .where-to-sleep-block__item
        a(href="https://visitrosolina.it/dove-dormire/hotel/").where-to-sleep-block__wrap
            img.where-to-sleep-block__img(src="assets/i/where-to-sleep-block/where-to-sleep-block-1.jpg" alt="image")
            .where-to-sleep-block__content
                h3.where-to-sleep-block__subtitle DOVE DORMIRE
                h2.where-to-sleep-block__title Hotel
    .where-to-sleep-block__item
        a(href="https://visitrosolina.it/dove-dormire/villaggi-turistici/").where-to-sleep-block__wrap
            img.where-to-sleep-block__img(src="assets/i/where-to-sleep-block/where-to-sleep-block-2.jpg" alt="image")
            .where-to-sleep-block__content
                h3.where-to-sleep-block__subtitle DOVE DORMIRE
                h2.where-to-sleep-block__title Villaggi turistici
    .where-to-sleep-block__item
        a(href="https://visitrosolina.it/dove-dormire/agenzie-immobiliari/").where-to-sleep-block__wrap
            img.where-to-sleep-block__img(src="assets/i/where-to-sleep-block/where-to-sleep-block-3.jpg" alt="image")
            .where-to-sleep-block__content
                h3.where-to-sleep-block__subtitle DOVE DORMIRE
                h2.where-to-sleep-block__title Agenzie immobiliari
