.dove-single__item#js-item-1
    .slider-buttons
        a(href="#").slider-btn.slider-btn-prev
        a(href="#").slider-btn.slider-btn-next
    .dove-single__slider
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/agenzie_immobiliari-1.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/agenzie_immobiliari-2.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/agenzie_immobiliari-3.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/agenzie_immobiliari-4.jpg')")


    .dove-single__item-content
        header.dove-single__item-header
            ul.info
                li
                    span.title TIPO:
                    span.value AGENZIA IMMOBILIARE
                li
                    span.title INDIRIZZO:
                    span.value Via delle Primule, 28 Rosolina Mare (RO)

                li
                    span.title TELEFONO:
                    span.value 0426.68452

        .dove-single__item-text
            h3.dove-single__item-title Immobiliare Al Parco
            p Con immobili di proprietà, costantemente ristrutturati e rimodernati, la Famiglia Bergo ti invita a scoprire una vacanza indimenticabile, all’insegna del divertimento, del relax in spiaggia e della natura nel Delta del Po. Potrai soggiornare a Rosolina Mare nei residence a contatto con la pineta e a due passi dal mare, situati in una zona tranquilla ideale per famiglie dove i bambini potranno giocare in completa sicurezza nell’ampio parco giochi.
            p Oppure potrai scegliere di affittare una villa o un fiordo con meravigliosa vista sull’acqua nell’affascinante e unica Isola Albarella. Tutti gli appartamenti e case vacanza sono dotati di ogni confort per goderti appieno il soggiorno con le stesse comodità di casa: climatizzatore, lavatrice, lavastoviglie, internet wifi, doppio bagno, tv sat, parcheggio auto e garage. Potrai inoltre usufruire del servizio spiaggia, del parco giochi, delle terrazze panoramiche e delle bici per scoprire lentamente le bellezze del territorio. Naturalmente, la tua vacanza!

        .dove-single__item-footer
            ul.dove-single__item-contacts
                li
                    a( target="_blank" href="https://rosapineta.it/")
                        span www.immobiliarealparco.it
                        +icon('external-link', 'external-link')

                li
                    a.icon-circle( target="_blank" href="mailto:info@immobiliarealparco.it")
                        +icon('mail', 'mail')
                li
                    a.icon-circle( target="_blank" href="https://www.facebook.com/immobiliarealparco/")
                        +icon('facebook', 'facebook')
