.dove-single__item#js-item-1
    .slider-buttons
        a(href="#").slider-btn.slider-btn-prev
        a(href="#").slider-btn.slider-btn-next
    .dove-single__slider
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-rosapineta-1.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-rosapineta-2.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-rosapineta-3.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-rosapineta-4.jpg')")


    .dove-single__item-content
        header.dove-single__item-header
            ul.info
                li
                    span.title TIPO:
                    span.value VILLAGGIO
                li
                    span.title INDIRIZZO:
                    span.value STRADA NORD, 24 - ROSOLINA MARE

                li
                    span.title TELEFONO:
                    span.value (+39)042668033

        .dove-single__item-text
            h3.dove-single__item-title ROSAPINETA Camping Village
            p Il ROSAPINETA Camping Village è un villaggio vacanze che si affaccia direttamente sul mare, immerso nel verde del Delta del Po e a pochi metri dal centro di Rosolina Mare.
            p Bungalow, chalet, villini e case mobili, e un’ampia scelta di sistemazione anche per gli amanti del plein air: piazzole con o senza corrente, con o senza acqua e scarico, all’ombra della pineta o riparate da telo ombreggiante in prossimità del mare.
            p Pet friendly e dalle distintive note di una naturale genuinità, è la meta ideale per le vacanze all’insegna della natura e del relax.

        .dove-single__item-footer
            ul.dove-single__item-contacts
                li
                    a( target="_blank" href="https://rosapineta.it/")
                        span www.rosapineta.it
                        +icon('external-link', 'external-link')

                li
                    a.icon-circle( target="_blank" href="mailto:info@rosapineta.it")
                        +icon('mail', 'mail')
                li
                    a.icon-circle( target="_blank" href="https://www.facebook.com/RosapinetaCampingVillage//")
                        +icon('facebook', 'facebook')
                li
                    a.icon-circle( target="_blank" href="https://www.instagram.com/rosapinetacampingvillage/?hl=it")
                        +icon('instagram', 'instagram')
