.dove-single__intro(style="background-image: url('assets/i/agenzie-immobiliari/agenzie_immobiliari-bg.jpg')")
    .dove-single__intro-content.dove-single__intro-content-full
        img(src="assets/i/big-icon.png" alt="icon")
        h2.dove-single__title Agenzie immobiliari
