.dove-single__item#js-item-3
    .slider-buttons
        a(href="#").slider-btn.slider-btn-prev
        a(href="#").slider-btn.slider-btn-next
    .dove-single__slider
        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-9.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-10.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-11.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-12.jpg')")

    .dove-single__item-content
        header.dove-single__item-header
            ul.info
                li
                    span.title TIPO:
                    span.value HOTEL
                li
                    span.title INDIRIZZO:
                    span.value PIAZZA S. GIORGIO 15, ROSOLINA MARE

                li
                    span.title INFO:
                    span.value 3466104429 042668066

        .dove-single__item-text
            h3.dove-single__item-title Albergo Pineta – Il Gattaccio
            p La struttura dell’Albergo Pineta si suddivide nel conosciuto e storico Hotel stesso e nel Gattaccio che è tra i più frizzanti e giovani locali di tutta Rosolina mare. L’Albergo, in particolare a conduzione famigliare dispone di camere a due passi dal mare, ideale per godere appieno del relax e dell’atmosfera di vacanza, nell’aria rigenerante di uno spazio pulito e cortese. La pensione include il ristorante in cui assaporare l’ottima cucina tipica locale. Il Gattaccio presente al piano terra dell’Albergo propone prodotti di alta qualità in ambiente casual e rilassato a due passi dal lungomare. L’orario dalle 7.00 alle 2.00 accompagna il cliente dalla colazione all’after dinner con un personale giovane e attento alle ultime tendenze, senza rinunciare a un ambiente dinamico che ben si adatta all’orario dell’aperitivo. Ampia selezione di dolci, lieviti e torte per la colazione, tramezzini, insalate, panini e pizza (anche da asporto) per il pranzo, l’aperitivo e la cena, associati a un comparto di birre artigianali e cocktail mixology. Il luogo ideale dove trascorrere tutti i momenti di una vacanza vivace con un’offerta culinaria sofisticata ma alla portata di tutti.

            .dove-single-services
                h4.dove-single-servicers__title Servizi
                ul.dove-single-services__list
                    li Albergo due stelle
                    li 24 camere
                    li Climatizzatore
                    li Tv
                    li Bagno privato
                    li Cassaforte
                    li Parcheggio riservato ai clienti Hotel nella struttura al coperto
                    li Servizio Ristorante per la pensione completa

        .dove-single__item-footer
            ul.dove-single__item-contacts
                li
                    a(target="_blank" href="www.albergopineta.it")
                        span www.albergofiorella.it
                        +icon('external-link', 'external-link')

                li
                    a.icon-circle(target="_blank" href="mailto:info@albergopineta.it")
                        +icon('mail', 'mail')
                li
                    a.icon-circle(target="_blank" href="https://www.facebook.com/Gattaccio.it")
                        +icon('facebook', 'facebook')
                li
                    a.icon-circle(target="_blank" href="https://www.instagram.com/il_gattaccio")
                        +icon('instagram', 'instagram')
