.dove-single__item#js-item-2
    .slider-buttons
        a(href="#").slider-btn.slider-btn-prev
        a(href="#").slider-btn.slider-btn-next
    .dove-single__slider
        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-5.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-6.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-7.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/hotel-slides/hotel-slide-8.jpg')")

    .dove-single__item-content
        header.dove-single__item-header
            ul.info
                li
                    span.title TIPO:
                    span.value HOTEL
                li
                    span.title INDIRIZZO:
                    span.value PIAZZA SAN GIORGIO, 5 ROSOLINA MARE

                li
                    span.title INFO:
                    span.value +39 0426 68023

        .dove-single__item-text
            h3.dove-single__item-title Hotel Milan & Residence
            p L’Hotel Milan & Residence è un confortevole hotel a 3 stelle a poca distanza dall’ampia spiaggia di Rosolina Mare, all’interno del Parco del Delta del Po.
            p Tutte le camere sono dotate di balcone, bagno con doccia, aria condizionata, asciugacapelli, cassetta di sicurezza elettronica, TV-sat LCD 28”, telefono e connessione internet wi-fi. Sono anche disponibili delle stanze di categoria superior, più grandi e rinnovate recentemente, che dispongono  di cabina armadio e minibar.
            p Gli spaziosi appartamenti e le eleganti suite del residence sono la soluzione ideale dove le famiglie possono trascorrere una vacanza all’insegna del confort e del relax e dove è possibile soggiornare anche con trattamento di pensione completa o mezza pensione.
            p Il ristorante dell’hotel offre piatti di carne e pesce fresco ispirati alla tradizione italiana e regionale, pane e pasta fatti in casa nonché tutti i dolci, dai biscotti alle torte ed alle creme, di produzione propria.

            .dove-single-services
                h4.dove-single-servicers__title Servizi
                ul.dove-single-services__list
                    li Ristorante à la carte
                    li Bar
                    li Spiaggia convenzionata
                    li Wi-fi in hotel, nel residence ed in spiaggia
                    li Noleggio biciclette
                    li Parcheggio

        .dove-single__item-footer
            ul.dove-single__item-contacts
                li
                    a(target="_blank" href="https://www.hotelmilan.it/")
                        span www.hotelmilan.it
                        +icon('external-link', 'external-link')

                li
                    a.icon-circle(target="_blank" href="mailto:info@hotelmilan.it")
                        +icon('mail', 'mail')
                li
                    a.icon-circle(target="_blank" href="https://www.facebook.com/hotelmilanrosolina/")
                        +icon('facebook', 'facebook')
