.dove-single__item#js-item-4
    .slider-buttons
        a(href="#").slider-btn.slider-btn-prev
        a(href="#").slider-btn.slider-btn-next
    .dove-single__slider
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-club-1.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-club-2.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-club-3.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-club-4.jpg')")


    .dove-single__item-content
        header.dove-single__item-header
            ul.info
                li
                    span.title TIPO:
                    span.value VILLAGGIO
                li
                    span.title INDIRIZZO:
                    span.value VIA DEI FRANCESI, 67 - ROSOLINA MARE

                li
                    span.title TELEFONO:
                    span.value (+39)042668444

        .dove-single__item-text
            h3.dove-single__item-title Villaggio Rosolina Mare Club
            p Immerso nella pineta e affacciato direttamente sul mare, il Villaggio Turistico Rosolina Mare Club, vi offre un’indimenticabile vacanza all’aria aperta nel Delta del Po…il luogo ideale per trascorrere le vacanze in famiglia. Divertimento e relax sono garantiti!
            p A disposizione dei nostri ospiti bungalow, villette e case mobili, tipologie diverse per il comfort di ogni famiglia.
            p Incluso nel prezzo: aria condizionata, gas, elettricità, acqua, microonde, Tv, 1 posto auto, spiaggia con 1 ombrellone e 2 sedie a sdraio, piscina, animazione-miniclub, Wi Fi, palestra, ping pong.
            p All’interno del villaggio: ristorante/pizzeria (anche per asporto), bar, noleggio bici, lavanderia, minigolf, biliardo.

        .dove-single__item-footer
            ul.dove-single__item-contacts
                li
                    a( target="_blank" href="https://rosolinamareclub.it/")
                        span www.rosolinamareclub.it
                        +icon('external-link', 'external-link')

                li
                    a.icon-circle( target="_blank" href="mailto:info@rosolinamareclub.it")
                        +icon('mail', 'mail')
                li
                    a.icon-circle( target="_blank" href="https://it-it.facebook.com/rosolinamareclub/")
                        +icon('facebook', 'facebook')
                li
                    a.icon-circle( target="_blank" href="https://www.instagram.com/rosolinamareclub/?hl=it")
                        +icon('instagram', 'instagram')
