.dove-single__item#js-item-5
    .slider-buttons
        a(href="#").slider-btn.slider-btn-prev
        a(href="#").slider-btn.slider-btn-next
    .dove-single__slider
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-serenela-1.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-serenela-2.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-serenela-3.jpg')")


    .dove-single__item-content
        header.dove-single__item-header
            ul.info
                li
                    span.title TIPO:
                    span.value VILLAGGIO
                li
                    span.title INDIRIZZO:
                    span.value Piazzale Europa, 2045010 Rosolina Mare (RO)

            .dove-single__item-block-contacts
                h5.dove-single__item-block-contacts__title CONTATTI:
                span.title Direzione Villaggio:
                span.value Tel/Fax <a href="tel:+39042668258">+39.0426.68258</a>
                span.title Area spiaggia Serenella
                span.value Tel <a href="tel:+393496716376">+39.349.671.6376</a>

        .dove-single__item-text
            h3.dove-single__item-title Villaggio turistico serenella
            p l Residence Serenella si trova proprio nel centro di Rosolina Mare, a pochi passi da Piazzale Europa e dal centro commerciale. Situato direttamente sul mare, è il posto ideale per una tranquilla vacanza all’insegna del relax. I bungalow sono disposti a schiera, a ferro di cavallo, all’interno del quale si apre una piacevole area verde attrezzata a zona relax, parco giochi e pallavolo. Gli ospiti vengono sistemati in diverse tipologie di bungalow (3-4-5 posti letto), tutte dotate di angolo cottura, servizi privati, terrazza/veranda e parcheggio coperto.

        .dove-single__item-footer
            ul.dove-single__item-contacts
                li
                    a( target="_blank" href="https://rosolinamareclub.it/")
                        span www.rosolinamareclub.it
                        +icon('external-link', 'external-link')

                li
                    a.icon-circle( target="_blank" href="mailto:info@rosolinamareclub.it")
                        +icon('mail', 'mail')
                li
                    a.icon-circle( target="_blank" href="https://it-it.facebook.com/rosolinamareclub/")
                        +icon('facebook', 'facebook')
                li
                    a.icon-circle( target="_blank" href="https://www.instagram.com/rosolinamareclub/?hl=it")
                        +icon('instagram', 'instagram')
