.dove-single__item#js-item-2
    .slider-buttons
        a(href="#").slider-btn.slider-btn-prev
        a(href="#").slider-btn.slider-btn-next
    .dove-single__slider
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-campegio-1.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-campegio-2.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-campegio-3.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-campegio-4.jpg')")


    .dove-single__item-content
        header.dove-single__item-header
            ul.info
                li
                    span.title TIPO:
                    span.value VILLAGGIO
                li
                    span.title INDIRIZZO:
                    span.value STRADA SUD 340, ROSOLINA MARE

                li
                    span.title TELEFONO:
                    span.value (+39)3409149977

        .dove-single__item-text
            h3.dove-single__item-title Campeggio Vittoria
            p Il Campeggio Vittoria è una struttura a misura di famiglia sviluppata in una splendida pineta ombreggiata all’interno del Parco del Delta del Po, con accesso diretto al mare e spiaggia privata attrezzata e non. Ideale per famiglie con bambini che al loro interno troveranno piscine con scivoli, miniclub assistito e animazione. All’ interno del Campeggio gli ospiti troveranno a loro disposizione il Ristorante e Pizzeria Vittoria con cucina casalinga, tipica mediterranea, specialità di pesce ed un vasto menu’ di pizze cotte nel forno a legna. Il nostro staff Vi accompagnerà con la consueta cordialità e disponibilità in un clima allegro e famigliare anche nello splendido chiosco per una colazione vista mare.
            p Per il vostro soggiorno avrete a disposizione splendide piazzole per campeggio o bungalow e chalet a pochi passi da mare……una meravigliosa oasi di tranquillità immersa nella natura.

        .dove-single__item-footer
            ul.dove-single__item-contacts
                li
                    a( target="_blank" href="https://www.campingvittoria.it/")
                        span www.campingvittoria.it
                        +icon('external-link', 'external-link')

                li
                    a.icon-circle( target="_blank" href="mailto:info@campingvittoria.it")
                        +icon('mail', 'mail')
                li
                    a.icon-circle( target="_blank" href="https://www.facebook.com/CampingVittoria/")
                        +icon('facebook', 'facebook')
