.dove-single__item#js-item-3
    .slider-buttons
        a(href="#").slider-btn.slider-btn-prev
        a(href="#").slider-btn.slider-btn-next
    .dove-single__slider
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-sud-1.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-sud-2.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-sud-3.jpg')")
        .dove-single__slider-item(style="background-image: url('assets/i/vilaggi/vilagi-sud-4.jpg')")


    .dove-single__item-content
        header.dove-single__item-header
            ul.info
                li
                    span.title TIPO:
                    span.value VILLAGGIO
                li
                    span.title INDIRIZZO:
                    span.value VIA TRIESTE 3 - ROSOLINA MARE

                li
                    span.title TELEFONO:
                    span.value (+39)0426326035

        .dove-single__item-text
            h3.dove-single__item-title Villaggio Rosapineta Sud
            p Immerso nella pineta e affacciato direttamente sul mare, il Villaggio Turistico Rosapineta Sud, vi offre un’indimenticabile vacanza all’aria aperta nel Delta del Po…il luogo ideale per trascorrere le vacanze in famiglia. Divertimento e relax sono garantiti!
            p A disposizione dei nostri ospiti bungalow, appartamenti fronte mare e case mobili da due sino a 9 persone, per poter ospitare le famiglie più numerose.
            p Incluso nel prezzo: aria condizionata, gas, elettricità, acqua, microonde, Tv, 1 posto auto, spiaggia con 1 ombrellone e 2 sedie a sdraio, piscina, area idromassaggi riscaldata, animazione-miniclub, Wi Fi, palestra.
            p All’interno del villaggio: centro benessere, 2 ristoranti/pizzeria (anche per asporto), bar , supermercato, noleggio bici, lavanderia e minigolf.

        .dove-single__item-footer
            ul.dove-single__item-contacts
                li
                    a( target="_blank" href="https://rosapinetasud.it/")
                        span www.rosapinetasud.it
                        +icon('external-link', 'external-link')

                li
                    a.icon-circle( target="_blank" href="mailto:info@rosapinetasud.it")
                        +icon('mail', 'mail')
                li
                    a.icon-circle( target="_blank" href="https://it-it.facebook.com/rosapinetasud")
                        +icon('facebook', 'facebook')
                li
                    a.icon-circle( target="_blank" href="https://instagram.com/rosapinetasud/")
                        +icon('instagram', 'instagram')
