//grid
$xs:  320px;
$md:  768px;
$xl:  1150px;

//colors
$white:  #fff;
$black:  #000;
$tundora: #9fa;
$madison: #103272;
$buttercup: #EFBB10;
$fern-frond: #657F26;
$chathams-blue: #1D4082;
