@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';
@import '../libs/slick/slick/slick.scss';
// @import '../../../build/assets/i/svg/bg/css/sprite.css'
@import "partials/base";

@import "blocks/sandwitch";
@import "blocks/section";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/discover-block";
@import "blocks/where-to-sleep-block";
@import "blocks/eventi-news-block";
@import "blocks/footer";
@import "blocks/copyright";

